input.sort-grid {
    display: none;
}

.icon:hover .icon-sort-grid div {
    background: #47B74B;
}

/* Default 3x3 grid */
.icon-sort-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1px;
    transition: all 0.3s ease;

    div {
        transition: background ease .3s;
        background-color: #9FB1BD;
        width: 100%;
        height: 100%;
    }
}

/* Change to three horizontal bars when checked */
.sort-grid:checked + .icon .icon-sort-grid {
    column-gap: 0;
    row-gap: 8px;
}